**/__pycache__/
dist/
doughnuts.egg-info/
target/

.vscode/
settings.json

.gitignore
tempCodeRunnerFile.py
tempCodeRunnerFile.python
webshell.log
upadte.txt
webshell2.log
tempCodeRunnerFile.py
Doughnuts.zip
libs/reverse_server_light_bak
webshell2.csv
publish.py
doughnuts/log/log.txt
doughnuts/variables.config
